body {
    background-color: #34568B;
}
h1 {
    font-size: 50px;
    text-align: center; 
    border: 15px;
    border-style: groove;
    border-color: rgb(19, 9, 155);
   
}
p {
    color: white;
    border: 2px;
    border-style: dotted;
    padding: 10px;
   
}
ul {
    color: white;
    border: 2px;
    border-style: dotted;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
ol {
    color: white;
    border: 2px;
    border-style: dotted;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  
}
img{
    
    border: 15px;
    border-style: double;
    
}