body {
background-color: #34568B;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px; color: rgb(0, 0, 0);
    border: 15px;
    border-style: groove;
    border-color: rgb(19, 9, 155);

}
ul {
    font-size: 25px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    border-style: dashed;

}
